<!-- ***************** From template ***************** -->
{% extends 'base.html' %}
{%load static%}

{%block description%}"This is my description"{%endblock%}
{%block robots%}index, follow{%endblock%}
{%block keywords %}modern black suit, myshop{%endblock%}
{%block css %}{% static "products/style.css"%}{%endblock%}
{%block title%}MyShop New{%endblock%}
{%block body%}
<!-- ***************** header ***************** -->
{%include "includes/nav.html"%}
<main id="products-intro">
    {%for product in products%}
        <div class="product-card">
            <div class="review-con"><p>Reviews 4.8⭐</p></div>
            <img src="{{ product.image.url }}" class="product-img">
            <div style="padding:20px 25px">
                <h3>{{product.title}}</h3>
                <p>{{product.description}}</p>
                {% if product.brand %}
                    <p>{{product.brand.title}}</p>
                {% endif %}
                <a href="{% url 'product_page' product.brand.title product.slug%}">View Product</a>
            </div>
        </div>
    {% endfor %}

</main>
<!-- ***************** main content ***************** -->
{%endblock%}