<!-- ***************** From template ***************** -->
{% extends 'base.html' %}
{%load static%}

{%block description%}"This is my description"{%endblock%}
{%block robots%}index, follow{%endblock%}
{%block keywords %}modern black suit, myshop{%endblock%}
{%block css %}{% static "products/style.css"%}{%endblock%}
{%block title%}MyShop New{%endblock%}
{%block body%}
<!-- ***************** header ***************** -->
{%include "includes/nav.html"%}

<!-- ***************** main content ***************** -->
<section id="intro">
    <div style="width: 50%;">
        <h1>Best Clothing Quality</h1>   
        <p>Step into a world of style at Myshop, your go-to online destination for chic and comfortable clothing. Discover a curated collection that effortlessly combines the latest trends with timeless classics, allowing you to express your unique style with every click. Thank you for choosing Myshop – your fashion journey starts here!</p>
        <a onclick="hideNav()">Become a member</a>
    </div>

    <video controls>
        <source src="{% static 'products/vid/intro-video.mp4'%}">
    </video>
</section>

<!-- ***************** Product card ***************** -->
<div class="product-nav">
    <h3>Suits</h3>
    <a href="{% url 'allsuits' %}"">View all suits</a>
</div>
<main id="products-intro">
    {%for product in products%}
        <div class="product-card">
            <div class="review-con"><p>Reviews 4.8⭐</p></div>
            <img src="{{ product.image.url }}" class="product-img">
            <div style="padding:20px 25px">
                <h3>{{product.title}}</h3>
                <p>{{product.description}}</p>
                {% if product.brand %}
                    <p>{{product.brand.title}}</p>
                {% endif %}
                <a href="{% url 'product_page' product.brand.title product.slug%}">View Product</a>
            </div>
        </div>
    {% endfor %}

</main>
<form>
    <input placeholder="First name" id = "name">
    <input placeholder="last name" id = "lastname">
    <button type = "button" onclick="submitForm()">Submit</button>
</form>
<h2 id = displayTitle>this is my title</h2>
<!-- ***************** Footer ***************** -->
<footer>
    <h2>This is my footer.</h2>
</footer>

{%endblock%}
{%block javascript%}{% static "products/app.js"%}{%endblock%}